* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);

  display: flex;
  flex-direction: column;

  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.nft-card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  max-width: 350px;
  padding: 1.5rem;
}

.images {
  border-radius: 10px;
  height: 302px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.images:hover {
  background-color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.eq-img {
  width: 100%;
}

.images:hover .eq-img {
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.view {
  display: none;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}

.images:hover .view {
  display: inline;
}

.heading,
.name {
  color: hsl(0, 0%, 100%);
}

.heading:hover,
.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: color 0.2s linear;
}

.heading {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.description {
  line-height: 1.5rem;
}

.price-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  min-width: 100%;
}

.price {
  color: hsl(178, 100%, 50%);
  font-size: 1rem;
  font-weight: 600;
}

.icon:nth-of-type(2) {
  margin-left: auto;
}

.deadline {
  font-size: 1rem;
}

.author-div {
  border-top: 1px solid hsl(215, 32%, 27%);

  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1rem;
  min-width: 100%;
  padding: 1rem 0;
}

.avatar {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.attribution {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  padding-bottom: 0.5rem;
  text-align: center;
}

.attribution a {
  color: hsl(178, 100%, 50%);
  font-size: 600;
  text-decoration: none;
}

@media only screen and (max-width: 350px) {
  .nft-card {
    gap: 1rem;
    max-width: 250px;
    padding: 1rem;
  }

  .images {
    height: 202px;
  }

  .view {
    height: 36px;
    width: 36px;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
  }

  .heading {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
  }

  .description {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.2rem;
  }

  .price-div {
    gap: 0.3rem;
  }

  .price {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .deadline {
    font-size: 0.75rem;
  }

  .author-div {
    gap: 0.75rem;
    padding-bottom: 0;
  }

  .author {
    font-size: 0.75rem;
  }

  .attribution {
    font-size: 10px;
    padding-bottom: 0.2rem;
  }
}
